@import url("//fonts.googleapis.com/css?family=Work+Sans:300,400,600"); 

header.style{
}

body{
  background-image: url("..//client__background.jpg");
  background-color: #df6a22;
  background-size:cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.admin__body{
  background-image: url(..//admin__background.jpg); 
  background-color: rgba(0, 0, 0, 0.5); 
  background-size:cover;
  background-position: center;
  object-fit: cover;
  min-width: 100vW;
  overflow-y: scroll;
  min-height: 100vh;
}

.admin__body__shadow{
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100vW;
  min-height: 100vh;
  overflow-y: scroll;
  position: absolute;
}

.head {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 990px;
  height: 60px;
  margin: auto;
  justify-content: space-between;
  padding-left: 12px;
}

.head__admin{
  margin: auto;
  width: 972px;
  padding: 35px 42px 35px 104px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 990px;
  height: 68px;
  margin: auto;
}

.logo{
  width: 212px;
  height: 39px;
  display: inline;
  font-weight: 900;
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  line-height: 39px;
  letter-spacing: 0;
  color: #fff;
  margin-top: 3px;
}

.logo__tipe{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 6px;
  width: 100%;
  text-align:left;
  color: rgba(255, 255, 255, 1);
}

.logo__B{
  font-weight: 100;
}

.header__btn{
  background-color: rgba(22, 166, 175, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  width: 71px;
  height: 40px;
  padding: 12px;
  margin-right: 15px;
  text-align: center;
}

.login__div{
  background-color: rgba(234, 233, 235, 0.95);
  margin: 53px auto 2px auto;
  width: 480px;
  height: 294px;
}

.login__form{
  display: flex;
  flex-wrap: wrap;
}

.login__form__name{
  width: 100%;
  text-align: center;
  padding: 16px 104px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(99, 83, 108, 1);
  height: 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 35px;
}

.login__form__item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 272px;
  height: 52px;
  margin: auto;
}

.login__form__item, .form__submit__input{
  background-color: transparent;
  margin-bottom: 5px;
}

.form__item__label, .form__item__input{
  width: 100%;
}

.form__item__label{
  color: rgba(132, 132, 132, 1);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.form__item__input{
  border-radius: 0px;
  height: 20px;
  width: 272px;
  padding: 8px 9px 9px 9px;
  color:rgba(117, 117, 117, 1);
  font-weight: 400;
  font-size: 16px;
  background-color:rgba(255, 255, 255, 1);
  border: 1px solid rgba(183, 183, 183, 1);
}

.form__item__input:hover{
  transform: scale(1.03);
  border-radius: 0px;
  border: 1px solid rgba(183, 183, 183, 1);
}

.form__item__input :focus{
  outline: none;
  border: 1px solid rgba(183, 183, 183, 1);
}

.form__submit__input{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(22, 166, 175, 1);
  width: 189px;
  height: 40px;
  margin: 10px 142px;
  border-radius: 3px;
  /* font-size: 12px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 31px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);

}

.client__main, .admin__main{
  max-width: 962px;
  margin: auto;
}

.days__list{
  display: flex;
  justify-content: space-between;
  height: 58px;
  padding-bottom: 20px;
}

.day, .day__weekend{
  text-align: left;
  width: 124px;
  height: 48px;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 11px 20px 10px 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  box-shadow: 0px 0px 2px 0px #0000001F;
  box-shadow: 0px 2px 2px 0px #0000003D;
  text-transform: capitalize;
} 

.day__weekend{
  color: rgb(207, 24, 24);
}

.day__next{
  font-family: 'Consolas', sans-serif;
  text-align: center;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
}

.active{
  text-align: left;
  width: 241px;
  height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 11px 22px 11px 22px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 0px 2px 0px #0000001F;
  box-shadow: 0px 2px 2px 0px #0000003D;
} 

.films__list{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.film__card{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(241, 235, 230, 0.95);
  box-sizing: border-box;
  padding: 15px;
  border-radius: 2px;
  width: 100%;
}

.film__info{  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.film__poster{
  width: 125px;
  height: 175px; 
}

.film__text{
  width: 835px;
  max-height: 175px;
}

.film__name{
  width: 820px;
  margin-top: 0;
  margin-left: 14px;
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.film__name::before{
  background: rgba(57, 57, 57, 1);
  content: '';
  position: absolute;
  left: -14px;
  width: 4px;
  height: 14px;
}

.film__description{
  width: 820px;
  margin: auto;
  padding-left: 10px;
  height: 16px;
  margin-top: -3px;
  font-size: 14px;
}

.film__time{
  width: 820px;
  margin: auto;
  padding-left: 10px;
  height: 16px;
  margin-top: 7px;
  font-size: 14px;
}

.halls__info{
  width: 100%;
}

.hall__number{
  margin: 0 0 4px 0;
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.time{
  background-color: rgba(255, 255, 255, 1);
  color: black;
  width: 53px;
  height: 33px;
  margin-right: 4.5px;
  margin-top: 5px;
  border-radius: 2px;
  padding-left: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}

.admin__main{
  margin-top: 30px;
}

.admin__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__header{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(155, 113, 161);
  padding-left: 100px;
  font-size: 18px;
  color: #fff;
}

.section__header__name{
  line-height: 50%;
}

.section__header__arrow{
  position: absolute;
  right: 2%;
  top: 10%;
  background-color: rgb(155, 113, 161);
}

.section__header__arrow:hover{
  background: rgb(155, 113, 161);
}

.section__header::before {
  position: absolute;
  background-color: rgb(255, 255, 255);
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20%;
  left: 5%;
  border-radius: 50%;
  transform: rotate(50deg);
  border: 2px solid rgb(232, 179, 239);
}

.hall__manager__body{
  background-color: rgba(247, 246, 247, 0.792);
  width: 100%;
  height: 300px;
  font-size: 14px;
  padding: 20px 50px 20px 50px;
  display: none;
}

.active{
  display: block;
}

.create__hall{
  color: #fff;
  background-color: rgb(9, 128, 116);
  border-radius: 5px;
  font-size: 10px;
  max-width: 40%;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
}

.hall{
  display: flex;
  gap: 10%;
  align-items: center;
  
}

.hall_name{
  width: 40%;
}

.hall_delete{
  background-color: #fff;
  width: 21px;
  height: 21px;
  padding: 0;
  text-align: center;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
}

.hall_delete:hover{
  transform: scale(1.1);
  background-color: rgb(9, 128, 116);
}

.hall__config__body{
  background-color: rgba(247, 246, 247, 0.792);
  width: 100%;
  height: 900px;
  font-size: 14px;
  padding: 20px 50px 20px 50px;
  display: none;
}

.active{
  display: block;
}

.hall__config__container{
  display: flex;
  gap: 5px;
}

.hall__places__container{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.hall__places__form{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  gap: 3%;
  position: relative;
  align-items: center;
}

.label__row, .label__place{
  position: absolute;
  top: -25%;
  color: #5f5d5d;
}

.label__place{
  left: 55%;
}

.input__hall{
  width: 40%;
  height: 20px;
  position: relative;
  color: rgb(145, 144, 144);
}

.hall__config__name{
  padding: 10px;
  background-color:#fff;
  color: black;
  font-size: 12px;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
}

.hall__config__name:hover {
  background-color:#fff;
  color: black;
  transform: scale(1.1);
}

.hall__config__name:focus {
  background-color:#fff;
  color: black;
  transform: scale(1.1);
}

.hall__config__name:active {
  background-color:#fff;
  color: black;
  transform: scale(1.1);
}

.hall__zone{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border: 1px solid black;
  padding-top: 5%;
  padding-bottom: 5%;

  position: relative;
}

.btn__container{
  padding-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.btn__cancel, .btn__save{
  margin-top: 20px;
  border-radius: 5px;
  font-size: 10px;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
}

.btn__save{
  color: #fff;
  background-color: rgb(9, 128, 116);
}

.btn__cancel{
  color: black;
  background-color: whitesmoke;
}

.screen{
  width: 100%;
  text-align: center;
  letter-spacing: 20px;
}

.row{
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hall__status__form{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
}

.status__container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.status__label{
  display: flex;
  align-items: center;
}

.status__span{
  position: relative;
  right: 103%;
  width: 18px;
  height: 18px;
  border-radius: 3px;
} 

.status__span::before {
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(155, 113, 161);
}

.status__input{
  display: none;
}

.status__input:checked ~ .status__span::before {
  display: block;
}

.place {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.standart{
  border: 1px solid #000000;
  background-color: darkgrey; 
}

.free__standart{
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255); 
}

.vip{
  border: 1.3px solid rgb(10, 73, 66);
  background-color: rgb(9, 128, 116);
}

.free__vip{
  border: 1px solid #000000;
  background-color: rgb(216, 129, 70);
}

.disabled{
  border: 1.3px solid rgba(203, 202, 200, 0.7);
  background-color: rgba(239, 234, 227, 0.7);
}

.booked__place{
  border: 1.3px solid rgb(10, 73, 66);
  background-color: rgb(9, 128, 116);
}

.hall__price__body{
  background-color: rgba(247, 246, 247, 0.792);
  width: 100%;
  height: 500px;
  font-size: 14px;
  padding: 20px 50px 20px 50px;
  display: none;
}

.active{
  display: block;
}

.hall__prices__form{
  display: flex;
  width: 100%;
  gap: 1%;
  flex-wrap: wrap;
  align-items: center;
}

.label__price{
  width: 100%;
  color: #5f5d5d;
}

.input__price{
  width: 20%;
  height: 20px;
  color: rgb(15, 15, 15);
}

.type__place__standart, .type__place__vip{
  width: 20px;
  height: 20px;
  border: 1.3px solid rgb(10, 73, 66);
  background-color: rgb(9, 128, 116);
  border-radius: 5px;
}

.type__place__vip{
  border: 1.3px solid rgb(10, 73, 66);
  background-color: rgb(9, 128, 116);
}

.type__place__standart{
  border: 1px solid #000000;
  background-color: darkgrey;
}

.hall__opened__body{
  background-color: rgba(247, 246, 247, 0.792);
  width: 100%;
  height: 300px;
  font-size: 14px;
  padding: 20px 50px 20px 50px;
  display: none;
}

.active{
  display: block;
}

.open__sales{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.text__open__sales{
  width: 100%;
  text-align: center;
}

.btn__open__sales{
  width: 50%;
  color: #fff;
  background-color: rgb(9, 128, 116);
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
}

.session__grid__body{
  background-color: rgba(247, 246, 247, 0.792);
  width: 100%;
  height:300px;
  font-size: 14px;
  padding: 20px 50px 20px 50px;
  display: none;
}

.active{
  display: block;
}

.films__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.films__list__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.film__item__poster {
  width: 40%;
}

.film__item__info {
  width: 57%;
  padding-left: 3%;
  height: 100%;
}

.film__item__name{
  width: 100%;
  font-weight: bold;
} 

.film__item__time{
  width: 100%;
}

.film__item__delete {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 21px;
  height: 21px;
  padding: 0;
  text-align: center;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
}

.film__item__delete:hover{
  transform: scale(1.1);
  background-color: rgb(9, 128, 116);
}

.btn__add__film {
  width: 50%;
  color: #fff;
  background-color: rgb(9, 128, 116);
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
}

.session__lents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.session{
  width: 85%;
  position: relative;
}

.hall__name__lent{
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 20px;
}

.session__lent{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 80px;
  border: solid 1px black;
  align-items: center;
  justify-content: space-between;
}

.into__lent__container{
  height: 60%;
  border: 1px solid black;
  position: relative;
}

.into__lent__container__clone{
  width: 100%;
  height: 100%;
  margin-top: -14.5px;
}

.into__lent__name{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 14px;
}

.into__lent__time{
  position: absolute;
  bottom: -37px;
  left: -1px;
  border-left: 1px solid black;
  padding-left: 4px;
  height: 7px;
}

/* PopUp Styles */
.popup__background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeb1b1;
  display: none;
  z-index: 100;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* margin-top: -20px; */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup__body{
  background-color: rgba(247, 246, 247, 0.792);
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 40px;
}

.popup__header{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(155, 113, 161);
  font-size: 18px;
  color: #fff;
}

.popup__name{
  padding-left: 100px;
  line-height: 45px;
  margin: 0;
}

.popup__close{
  position: absolute;
  background-color: rgb(155, 113, 161);
  right: 0;
  top: 13%;
}

.popup__close:hover{
  background: rgb(155, 113, 161);
}

.create__hall, .popup__input{
  width: 100%;
}

.popup__input{
  color: rgba(0, 0, 0, 0.479);
}

.popup__btn{
  background-color: rgb(9, 128, 116);
  box-shadow: 0px 2px 3px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  font-size: 10px;
}

.popup__cancel{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px 0px rgba(34, 60, 80, 0.2);
  color: black;
  border-radius: 5px;
  font-size: 10px;
}

.film__name__label, .film__name__input, .film__time__label, .film__time__input, .film__description__label, .film__description__input, .film__country__label, .film__country__input, .hall__name__input, .time__input{
  width: 100%;
}

.film__name__label, .film__time__label, .film__description__label, .film__country__label, .film__poster__label, .hall__name__label, .time__label{
  color: #5f5d5d;
}

.film__name__input, .film__time__input, .film__description__input, .film__country__input, .hall__name__input, .time__input{
  outline:none;
  border-radius: 0;
  border: solid 0.3px #5f5d5d;
  min-height: 20px;
}

.film__name__input:hover , .film__time__input:hover , .film__description__input:hover , .film__country__input:hover, .hall__name__input:hover, .time__input:hover {
  background-color: rgba(193, 148, 198, 0.534);
}

.film__name__input:focus , .film__time__input:focus , .film__description__input:focus , .film__country__input:focus, .hall__name__input:focus, .time__input:focus {
  background-color: rgba(193, 148, 198, 0.534);
}

.film__description__input {
  min-height: 100px;
  text-align: left;
}

.film__add__btn, .poster__add__btn, .poster__show__popup{
  color: #fff;
  background-color: rgb(9, 128, 116);
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2);
  margin-top: 20px;
}

.film__poster__input{
  display: none;
  visibility:hidden;
}

.selected__poster{
  text-align: center;
  padding-top: 10px;
}

.popup__background__add__session{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeb1b1;
  display: none;
  z-index: 100;
}

.popup__background__session{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.popup__background__seance{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}

.popup__background__booking, .popup__background__order {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.popup__background__order{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.popup__basket{
  position: absolute;
  display: none;
  top: 50px;
  left: -60px;
}

.popup__delete__session{
  width: 100%;
}


.popup__background__current__config, .popup__background__booking, .popup__background__order{
  background-image: url("..//client__background.jpg");
  background-size:cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}

.head__popup__current__config, .head__popup__booking, .head__popup__order{
  display: block;
  box-sizing: border-box;
  max-width: 990px;
  height: 68px;
  margin: auto;
  padding: 14px;
}

.info__current__config{
  box-sizing: border-box;
  height: 67px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.info__current{
  height: 18px;
  margin: 0;
  display: block;
  width: 100%;
  justify-content: space-between;
}

.info__current__film, .info__current__hall{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.info__current__time {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin: 5px 0;
}

.popup__current__config{
  width: 990px;
  margin-top: -95px;
  background-color: rgba(241, 235, 230, 0.95);
}

.popup__seance__click{
  top: 380px;
}

.current__hall__zone{
  width: 100%;
  height: 376px;
  justify-content: center;
  background-color: rgba(23, 29, 36, 1);
  box-sizing: border-box;
  position: relative;
}

.hall__container{
  text-align: center;
  margin-top: 30px;
  height: 266px;
  box-sizing: border-box;
}

.display {
  max-width: 284px;
  box-sizing: border-box;
  margin-top: 20px;
}

.places__zone{
  display: flex;
  flex-wrap: wrap;
  width: 284px;
  height: 240px;
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
}

.free__vip, .vip{
  background-color: rgba(249, 149, 58, 1);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.free__standart, .standart{
  background-color: rgba(255, 255, 255, 1);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.disabled, .taken{
  background-color: rgba(23, 29, 36, 1);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.booked__place, .booking{
  background-color: rgba(37, 196, 206, 1);
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 4px 0px rgba(22, 166, 175, 1);
  box-sizing: border-box;
}

.current__row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 4px;
}

.current__place {
  border: 1px solid rgba(82, 82, 82);
  border-radius: 4px;
}

.prices__zone{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 260px;
  height: 80px;
  padding-top: 40px;
  box-sizing: border-box;
  gap: 5px;
}

.prices__zone__column{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 3px;
}

.with__price{
  width: 68%;
  max-width: 250px;
}

.no__price{
  width: 32%;
}

.prices__tipe{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 3px;
}

.standart, .vip, .disabled, .booking{
  border: 1px solid rgba(82, 82, 82);
  border-radius: 4px;
}

.prices__zone__text{
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255);
}

.save__current__config{
  height: 100px;
}

.btn__save__current__config{
  height: 40px;
  margin-left: 379px;
  margin-top: 30px;
  width: 232px;
  border-radius: 3px;
  background-color: rgba(22, 166, 175, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.popup__booking {
  width: 990px;
  height: 324px;
  margin-top: -134px;
  background-color: rgba(241, 235, 230, 0.95);
  border-radius: 1px;
  box-sizing: border-box;
  padding: 10px 15px;
}

.popup__header__booking, .popup__header__order{
  width: 990px;
  height: 78px;
  box-sizing: border-box;
  padding: 4px 15px;
  margin: auto;
  margin-top: 3px;
  background-color: rgba(241, 235, 230, 0.95);
  position: relative;
}

.popup__header__booking{
  margin-top: 3px;
}

.popup__name__booking{
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: rgba(199, 111, 0, 1);
}

.border__top{
  background-image: url("..//dots__border__top.png");
  position: absolute;
  width: 990px;
  height: 3px;
  top: -2px;
  left: -3px; 
}

.border__middle__bottom{
  background-image: url("..//dots__border__middle__bottom.png");
  position: absolute;
  width: 990px;
  height: 3px;
  bottom: -2px;
  left: 1px;
}

.border__middle__top{
  background-image: url("..//dots__border__middle__top.png");
  position: absolute;
  width: 990px;
  height: 3px;
  bottom: -5px;
  left: 1px;
}

.popup__booking__data, .popup__order__data{
  height: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}

.popup__booking__data__bold, .popup__order__data__bold{
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.btn__popup__booking{
  margin: 30px 310px 15px ;
  width: 337px;
  background-color: rgba(22, 166, 175, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.instruction__popup__booking {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  position: relative;
}

.border__bottom{
  background-image: url("..//dots__border__middle__bottom.png");
  position: absolute;
  width: 990px;
  height: 3px;
  bottom: -3px;
  left: 0px;
}

.popup__header__order{
  margin-top: -4px;
}

.popup__order{
  width: 990px;
  height: 456px;
  margin-top: -75px;
  background-color: rgba(241, 235, 230, 0.95);
  border-radius: 1px;
  box-sizing: border-box;
  padding: 10px 15px;
}

.qrcode svg{
  max-width: 190px;
  max-height: 190px;
}

.qrcode {
  margin-left: 380px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.instruction__popup__order{
  padding-top: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  position: relative;
}

